$font: Helvetica, sans-serif;
$iconWidth: 16px;
$iconHeight: 16px;
$colorPrimary: #403075;
$colorInverse: #887caf;
$colorInverseAccent: #615192;
$colorSecondary: #261758;
$colorSecondaryAccent: #13073a;

